mat-icon {
    font-size: 18px;
}

:host/deep/mat-nav-list.sub-menu {
    overflow-y: hidden !important;
}

:host/deep/.ng-star-inserted {
    display: inline-block;
    width: -webkit-fill-available;
    /* remove after discussion */
    margin-top: -3px;
}